.insta-gallery {
    
    
    &__text {
        margin-bottom: 1.6rem;
        font-size: 2rem;
        font-style: italic;
        letter-spacing: 2px;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        width: 16.66666666%;
        
        &:not(:last-child) {
            padding-right: .5rem;
        }
    }
    
    &__img {
        width: 100%;
    }
}

.sns-icons {
    
    margin-top: 5rem;
    
    @include media-breakpoint-down(lg) {
        margin-top: 4rem;
    }
    
    &__item {
        display: inline-block;
        margin: 1.5rem;
    }
    
    &__icon {
        color: $color-black-primary;
        font-size: 3rem;
        transition: color .3s;
        
        &:hover,
        &:active {
            color: $color-green-primary;
        }
    }
}