.section-cards {
    padding-bottom: 170px;
}

.card {
    width: 100%;
    position: relative;  
    overflow: hidden;
    
    @include media-breakpoint-only(md) {
        width: 112%;
    }
    
    @include media-breakpoint-down(sm) {
        margin-bottom: 3rem;
    }
    
    @include media-breakpoint-down(xs) {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    
    &__link {
        display: block;
        cursor: pointer;
        line-height: 0;
        
    }
    
    &__img {
        width: 100%;
        transition: all .3s;
    }
    
    &__text {
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color-black-primary;
        padding: 1.6rem 0;
        width: 70%;
        text-align: center;
        background-color: $color-green-primary;
        border: 2px solid #fff;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
        
        @include media-breakpoint-only(md) {
            padding: 1rem 0;
        }
    }
    
    &:hover &__img {
        transform: scale(1.1);
        filter: blur(3px);
    }

    &:hover &__text {
        border-radius: 10rem;
    }
    

}
