.u-center-text { text-align: center !important; }

.mb-60 {
    margin-bottom: 6rem !important;
}

.mb-30 {
    margin-bottom: 3rem !important;
}

.border-bottom-grey {
    border-bottom: 1px solid #eee;
}