/*************************

Header

*************************/

.top-header {
    background-image: 
        linear-gradient(to right bottom, rgba(246, 179, 82, .5), rgba(252, 145, 58, .5)),
        linear-gradient(rgba(51, 51, 51, .3), rgba(51, 51, 51, .3)), 
        url(../photo/header-bg.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    height: 100vh;
    background-size: cover;
    color: #fff;
    position: relative;
    
    @include media-breakpoint-down(md) {
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }
}

.top-nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    &__title {
        font-size: 2.4rem;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }
    
    &__toggle {
        padding: .5rem;
        border-color: #fff !important;
        
        & ion-icon {
            color: #fff;
            font-size: 2rem;
        }
    }
    
    &__list {
        padding: 0;
        
        & li {
            display: inline-block;
            padding: 0 20px;
            
            & a {
                color: #fff;
                font-size: 1.4rem;
                text-decoration: none;
                transition: color .3s;
                
                &:hover,
                &:active {
                    color: $color-green-primary;
                }
            }
        }
    }
    
    &__search {
        & ion-icon {
            vertical-align: middle;
            font-size: 2.4rem;
        }
        
    }
}


.top-content {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.top-cotent__message--main {
    display: block;
    font-size: 4.8rem;
    margin-bottom: 3rem;
}

top-cotent__message--sub {
    display: block;
}


/*************************

About

*************************/

.section-about {
    padding: 170px 0;
    
    @include media-breakpoint-down(xs) {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
}

.profile__image {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-bottom: 30px;
    

    @include media-breakpoint-down(md) {
        width: 20rem;
        height: 20rem;
    }
}

.profile__iam {
    letter-spacing: 3px;
}

.profile__name {
    padding: 10px 0;
    font-weight: 700;
    color: #F6B352;
    font-size: 5rem;
}

.profile__text {
    margin: 2rem 0;
    font-size: 1.8rem;
    
    &:first-child {
        @include media-breakpoint-down(md) {
            margin-top: 3rem;
        }
    }
}


/*************************

Blog

*************************/

.section-blog {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.blog-post__wrapper {
    margin-top: 7rem;
}


/*************************

sns

*************************/

.section-sns {
    padding-top: 10rem;
    padding-bottom: 3rem;
}