.section-cards {
  padding-bottom: 170px; }

.card-container {
  overflow: hidden; }

.card {
  width: 255px;
  height: 255px;
  position: relative;
  overflow: hidden; }

.card:hover .card__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.card:hover .card__text {
  color: #fff; }

.card__img {
  width: 100%;
  height: 100%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.card__text {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #4c4c4c;
  padding: 1.6rem 0;
  width: 70%;
  text-align: center;
  background-color: #BFE9DB;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
